<!-- header.component.html -->
<header>
    <div class="header-container">
        <div class="logo">
            <a routerLink="/accueil" class="logo-link">
                <img src="images/Logo_NCR.svg" alt="Logo du Club NCR" class="logo-img"/>
            </a>
        </div>


        <nav aria-label="Navigation principale">
            <ul>
                <li><a routerLink="/accueil">Accueil</a></li>
                <li><a routerLink="/le-club">Le Club</a></li>
                <li><a routerLink="/presentation-du-club">Présentation du Club</a></li>
            </ul>
        </nav>


        <div class="search-container">
            <label for="search">Rechercher </label>
            <input type="text" id="search" placeholder="Rechercher...">
        </div>
        <div class="user-profile" aria-label="Profil utilisateur">
            <i class="user-icon" aria-hidden="true"></i>
        </div>
    </div>
</header>